@font-face {
    src:
        url('fonts/Fraunces[SOFT\,WONK\,opsz\,wght].woff2') format("woff"),
        url('fonts/Fraunces[SOFT\,WONK\,opsz\,wght].ttf') format("truetype");
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: normal;
    }
@font-face {
    src:
        url('fonts/Fraunces-Italic[SOFT\,WONK\,opsz\,wght].woff2') format("woff"),
        url('fonts/Fraunces-Italic[SOFT\,WONK\,opsz\,wght].ttf') format("truetype");
    font-family: 'Fraunces Italic';
    font-style: normal;
    font-weight: normal;
    }

    *{
        margin: 0;
    }

    body{
    background-color: rgba(245, 233, 226, 1);
    font-family: 'Fraunces';
    }

    /* *{
        border: blue 3px dashed;
    } */

  
/* start of hero */
    .this-is{
        font-size: 60px;
        font-family: 'Fraunces Italic';
        font-variation-settings: "wght" 400, "WONK" 1, "SOFT" 0, "opsz" 85;
        color:rgba(84, 54, 49, 1);
        padding-top: 100px;
        position: relative;
        left: 50px;
        margin-right: 50px;
       }

    .hero{
        overflow-x: hidden;
        overflow-x: clip !important;
    }

   .first {
       color: rgba(208, 54, 71, 0.5);
       font-variation-settings: "wght" 248, "WONK" 0, "SOFT" 100, "opsz" 144;
       font-size: 150px;
       position: relative;
       left: -30px;
   }
   .second {
       color: rgba(209, 138, 151, 0.7);
       font-variation-settings: "wght" 343, "WONK" 100, "SOFT" 0, "opsz" 144;
       font-size: 150px;
       position: relative;
       left: -40px;
   }
   .third {
       color: rgba(255, 131, 147, 0.5);
       font-variation-settings: "wght" 149, "WONK" 100, "SOFT" 96, "opsz" 144;
       font-size: 150px;
       position: relative;
       right: -980px;
       top: -184px;
   }
   .first1 {
       color: rgba(248, 197, 212, 0.7);
       font-variation-settings: "wght" 651, "WONK" 0, "SOFT" 0, "opsz" 144;
       font-size: 150px;
       position: relative;
       right: 670px;
   }
   .second2 {
       color: rgba(84, 54, 49, 1);
       font-variation-settings: "wght" 343, "WONK" 100, "SOFT" 0, "opsz" 144;
       font-size: 150px;
       font-family: "Fraunces Italic";
       position: relative;
       right: -410px;
       top: -184px;
   }
   .third3 {
       color: rgba(255, 196, 187, 0.7);
       font-variation-settings: "wght" 452, "WONK" 100, "SOFT" 100, "opsz" 120;
       font-size: 150px;
       position: relative;
       right: -420px;
       top: -184px;
   }
   .symbols {
    color:rgba(84, 54, 49, 1);
    font-size: 110px;
    position: relative;
    top: -150px;
    word-spacing: 20px;
    display: block;
    text-align: center;
   }
/* end of hero */

/* body */
   .page-wrapper{
    display: grid;
    grid-template-columns: 900px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "h v"
    "c c"
    "d d" ;
   }

    .variations{
        grid-area: "v";
        color:rgba(84, 54, 49, 1);
        font-size: 60px;
        font-variation-settings: "wght" 100, "WONK" 0, "SOFT" 0, "opsz" 9;
        display: grid;
        text-align: right;
        position: relative;
        margin-right: 60px;
    }

    .history-title {
        font-size: 80px;
        font-family: Fraunces Italic;
        font-variation-settings: "wght" 400, "SOFT" 0, "WONK" 0, "opsz" 85;
        position: relative;
        left: -15px;
        margin-top: 100px;
        padding-bottom: 10px;
        color:rgba(84, 54, 49, 1);
    }

    .history{
        grid-area: "h";
        font-size: 30px;
        font-variation-settings: "wght" 300, "SOFT" 0, "WONK" 0, "opsz" 28;
        position:relative;
        top: -100px;
        margin-left: 60px;
        margin-right: 20px;
        text-indent: 20px;
        color:rgba(84, 54, 49, 1);
    }

    .characters-title{
        color: rgba(252, 207, 199, 1);
        padding-top: 10px;
        padding-bottom: 40px;
        font-size: 80px;
        font-family: Fraunces Italic;
        font-variation-settings: "wght" 400, "SOFT" 0, "WONK" 0, "opsz" 85;
        position: relative;
        left: -400px;
    }

    .characters{
        text-align: center;
        grid-area: "c";
        color: rgba(245, 233, 226, 1);
        font-size: 60px;
        background-color: rgba(52, 40, 40, 1);
        margin-right: -540px;
        padding-bottom: 20px;
    }

    .italic{
        font-family: "fraunces-italic";
    }

    .wonkers2{
        font-family: "fraunces-italic";
    }

    .download-button{
        grid-area: "d";
        background-color: rgba(252, 207, 199, 1);
        font-family: "fraunces";
        border: none;
    }


/* footer */
    .footer{
        background-color: rgba(245, 233, 226, 1);
        color:rgba(84, 54, 49, 1);
        display: grid;
        grid-template-columns: repeat(6 1fr);
        grid-template-areas:
        "f f f i i i";
        width: 100%;
    }
    h4{
        grid-area: "f";
        font-size: 60px;
        text-align: center;
        color:rgba(84, 54, 49, 1);
    }
    h5{
        grid-area: "i";
        font-size: 20px;
        color:rgba(84, 54, 49, 1);
        text-align: center;
    }


/* animations */
@keyframes changeweight {
    from {
        font-variation-settings: "wght" 100, "WONK" 0, "SOFT" 0, "opsz" 65;
    }
    to {
        font-variation-settings: "wght" 900, "WONK" 0, "SOFT" 0, "opsz" 65;
    }
  }
  .weight:hover {
    animation-duration: 1s;
    animation-name: changeweight;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
@keyframes changesoftness {
    from {
        font-variation-settings: "wght" 100, "WONK" 0, "SOFT" 0, "opsz" 65;
    }
    to {
        font-variation-settings: "wght" 100, "WONK" 0, "SOFT" 100, "opsz" 65;
    }
}
  .softness:hover {
    animation-duration: 1s;
    animation-name: changesoftness;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes changewonk {
    from {
        font-variation-settings: "wght" 400, "WONK" 0, "SOFT" 0, "opsz" 65;
    }
    to {
        font-variation-settings: "wght" 400, "WONK" 1, "SOFT" 0, "opsz" 65;
    }
}
.wonk:hover {
    animation-duration: 1s;
    animation-name: changewonk;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.wonkers {
    animation-duration: 3s;
    animation-name: changewonk;
    animation-iteration-count: infinite;
}
.wonkers2{
    animation-duration: 3s;
    animation-name: changewonk;
    animation-iteration-count: infinite;
}

@keyframes changeopsz {
    from {
        font-variation-settings: "wght" 100, "WONK" 0, "SOFT" 0, "opsz" 9;
    }
    to {
        font-variation-settings: "wght" 100, "WONK" 0, "SOFT" 0, "opsz" 144;
    }
}
.optical-size:hover {
    animation-duration: 1s;
    animation-name: changeopsz;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}